Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-WTF
Flask-Migrate
Flask-Limiter
Flask-Cors
prometheus-flask-exporter
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp
python-json-logger
email_validator
gunicorn
pytest
redis
psycopg2-binary
ruff
mypy
bandit
semgrep
